
<mat-card>
    <button (click) = "login()" *ngIf="!(authService.user | async)">
        Login
      </button>
  <button (click) = "logOut()" *ngIf="authService.user | async">
    Log Out
  </button>
 <button (click) = "toItems()">
  items
 </button>
</mat-card>