<li (mouseenter) = "buttonOn()"
    (mouseleave) = "buttonOff()">
    <mat-checkbox
    [(ngModel)]="isInInventory"
    (change) = "checkChange()">
  </mat-checkbox>  
  <span  >{{name}}, {{price}}</span>
    <button mat-raised-button (click) = "showTwo()" *ngIf = "showButton">delete item</button>
    <button mat-raised-button (click) = "delete()"  *ngIf = "areyousure">click to delete</button>
    <button mat-raised-button (click) = "cancel()"  *ngIf = "areyousure">cancel</button>
</li>